@import "tailwindcss";

@theme {
  --font-Helvetica: "Helvetica", sans-serif;
}

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* RED + LIGHT RED FOR HEADER */
  --color-primary: #c61a33;
  --color-primary-content: #e7485f;
  /* BLUE + LIGHT BLUE FOR HEADER*/
  --color-secondary: #005da8;
  --color-secondary-content: #367cba;
  /* LIGHT BLUE FOR MIDDLE */
  --color-neutral: #c6e2ff;
  /* BLUE FOR FOOTER */
  --color-accent: #005da8;
}

@font-face {
  font-family: "Helvetica";
  src: url("../static/fonts/helveticanowtext-bold-demo.ttf") format("truetype");
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #00496a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
